.contact {
  padding: 80px 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;
}

input, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}